.banner-socials {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10vw;
  max-width: 4rem;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0,0,0,0.6);
  border-radius: 0 4px 4px 0;
}

.banner-socials a {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-height: 0;
}

.social-icon {
  max-height: 100%;
  object-fit: contain;
}

a:hover {
  transform: scale(1.2);
}