h2 {
  color: white;

}

.upcoming-shows, .news {
  justify-content: top;
  background-color: #363231;
  border: thin solid black;
  margin: .5em;
  border-radius: 5px;
}

.home-container {
  margin: 1em;
  padding: .5em;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (max-width: 650px) {
  .home-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}