.links {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 1em;
  justify-content: flex-start;
  padding-left: 0;
  list-style: none;
}

li:hover {
  transform: scale(1.2);
}

.icon {
  max-height: 35px;
}