.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
}

.video > iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.links {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 1em;
  justify-content: flex-start;
  padding-left: 0;
  list-style: none;
}

li:hover {
  transform: scale(1.25);
}

.icon {
  max-height: 30px;
}