#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: gray;
  /* height: fit-content; */
  border-radius: 5px;
  border: thin solid black;
  margin: 1em;
}

.read-the-docs {
  color: #888;
}

.nav_bar {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  font-size: large;
  gap: 0;
  padding-bottom: 0;
}

header, nav {
  /* max-height: 50m; */
  width: 100%;
  padding: 1rem;
  margin-bottom: 0;
}

main {
  flex: 1;
}

.container {
  /* background-color: #2d2e2e; */
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  align-content: center;
}

.nav-element {
  flex: 1 1 0;
  background-color: #1e1f1f;
  color: white;
  padding: 5px;
}

.nav-element + .nav-element { border-left: thin solid black; }

.nav-element:hover {
  background-color: #444545;
  color: white;
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
}

header {
  background-image: url('/assets/banner_image.png');
  background-size: cover;
  width: 100%;
  aspect-ratio: 2.2 / 1;
  background-position: center;
}

.video > iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}