#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #3E424B;
  border-radius: 5px;
  border: thin solid black;
  margin: 1em;
}

.card > h2 {
  margin: .1em;
}

.read-the-docs {
  color: #888;
}

.nav_bar {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  font-size: large;
  gap: 0;
  padding-bottom: 0;
  padding-top: .1em;
}

header, nav {
  width: 100%;
  margin-bottom: 0;
}

main {
  flex: 1;
}

.container {
  padding-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  align-content: center;
}

.nav-element {
  flex: 1 1 0;
  background-color: #1e1f1f;
  color: white;
  padding: 5px;
}

.nav-element + .nav-element { border-left: thin solid black; }

.nav-element:hover {
  background-color: #444545;
  color: white;
}

header {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 1;
  background-image: url('/assets/banner_image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

header > ul {
  list-style: none;
}

.video > iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

@media (max-width: 830px) {
  header {
    background-image: url('/assets/mobile_banner.png');
    aspect-ratio: 1.66 / 1;
  }
  .container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      h2 {
        font-size: 1.1em;
      }
  }
}